<!DOCTYPE html>
<html lang="zh-TW">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>tracking_board</title>
	<style>
		/* body {
			height: 100vh;
		}
	 	*/
		.viewport {
			display:flex;
			flex-direction: column;
			align-items: center;

		}
		/* #image {  

			max-width: 400%; 
			max-height: 400%; 

			position: absolute; 

		}  */
	</style>
    <script src="//code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"></script>



</head>

<body>
	<div class="viewport">
		<h1>Tracking board</h1>
		<div>
			<!-- <img id = "image" src='/static/img/field.png'> -->
			<canvas id="canvas" width="417" height="358" style="background: url('/static/img/field.png')">

			</canvas>
		</div>

	</div>
	<script src="/static/js/track_board.js"></script>
</body>
</html>
